* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: grey;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-image: url(https://www.toptal.com/designers/subtlepatterns/uploads/diagonal-squares.png);
}
.container {
    background-color: aliceblue;
    margin: auto;
    width: 960px;
}

header {
    padding: 20px;
}
header h1{
    font-weight: bold;
    padding: 5px;
}

header nav ul li {
    display: inline-block;
    margin-top: 15px;
    margin-right: 15px;
    margin-bottom: 10px;
}
header a {
    text-decoration: none;
    list-style: none;
    color: black;
    padding: 5px;

}

header a:hover {
    color: white;
    background-color: #FC2600;
    font-weight: bold;
    border-radius: 5px;
    transition:all;
    transition-duration: 0.50s;
    
}

.hero-img {
    border-bottom: -1px solid #d9302e;
    border-top: 3px solid #FC2600;
    width: 960px;
    height: auto;
    box-shadow: 0 2px 20px 0 black;
}

.main {
    width: 600px;
    padding: 20px;
    box-sizing: border-box;
    float: left;
}
.main h2 {
    margin-top: 20px;
    font-weight: bold;
    margin-bottom: 3px;
}
.main p {
    font-size: 15px;
}

span {
    font-size:medium;
    margin-top: 5px;
}
span a {
    text-decoration: none;
}

.sidebar {
    width: 300px;
    float: right;
    margin-top: 40px;
    margin-left: 10px;
    
}
.sidebar h3 {
    font-size: medium;
}
.sidebar img {
    width: 75px;
    height: auto;
    margin-left: 23px;
    float: left;
}
.sidebar p {
    font-size: 13px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
}


/* clearfix : menghapus float */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}


.cf {
    *zoom: 1;
}